:root {
  /* Color */
  --color-white: #fefefe;
  --color-white-opa: #efefef30;
  --color-gold: #daa520;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h1 {
  font-size: var(--font-large);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  margin: 4px 0;
  line-height: 1.7;
}

ul {
  list-style: none;
  padding-left: 0;
}

.gold {
  color: var(--color-gold);
}

.title {
  display: inline-block;
  padding: 2px 6px;
  border: 1px solid var(--color-gold);
}

body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  color: var(--color-white);
  background-color: rgba(20, 20, 20, 1);
  overflow-x: hidden;
}

section {
  padding: 60px 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.lazy {
  margin: 60px 0;
}

/* Navber */
#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1;
  padding: 50px;
  /* width: 300px; */
  height: 50vh;
  /* background-color: var(--color-black); */
  /* top: 50px; */
  /* left: 50px; */
}

button {
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color-white);
  font-size: 30px;
}

.navbar {
  display: none;
}

.navbar li {
  padding: 4px 0;
}

.navbar.open {
  display: block;
}

/* home */

#home {
  background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 65%,
      rgba(20, 20, 20, 0.25) 70%,
      rgba(20, 20, 20, 0.75) 80%,
      rgba(20, 20, 20, 0.8) 85%,
      rgba(20, 20, 20, 1) 90%
    ),
    url('./images/image021.jpg') center/cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home effect */
.home__effect {
  background-color: rgba(20, 20, 20, 1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: all 2s ease;
  display: block;
}
.home__effect.open {
  opacity: 0;
}

.home__logo {
  /* width: 120px; */
  z-index: 1;
  margin-top: -100px;
  width: 360px;
  border: 3px solid var(--color-white);
  padding: 60px;
  /* transition: all 1s ease; */
}

/* .home__logo.open {
  width: 360px;
  border: 3px solid var(--color-white);
  padding: 60px;
} */

/* About */

#about {
  width: 100%;
  display: flex;
}

.about__title {
  margin-bottom: 30px;
}

.about__description {
  width: 60%;
  padding-right: 50px;
}
.about__image {
  width: 40%;
}

.about__image img {
  width: 100%;
}
.lazy img {
  width: 100%;
}

/* Menu */

#menu {
  width: 100%;
}

.menu__all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 60px;
}

.menu img {
  width: 100%;
  /* border: 1px solid var(--color-gold); */
}

.menu__title {
  height: 60px;
  padding: 6px 0;
  border-bottom: 1px solid var(--color-gold);
}

/* News */

/* .news__container {
  display: flex;
  flex-direction: column;
} */

.news__all {
  margin-top: 60px;
}

.news__list {
  position: relative;
  padding: 50px 60px;
  border-bottom: 1px solid var(--color-white);
}

.news__bg {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-white-opa);
  transition: all 0.5s ease;
  z-index: -1;
}

.news__list:hover .news__bg {
  width: 100%;
}

.news__list:nth-child(1) {
  border-top: 1px solid var(--color-white);
}

.news__list a {
  display: flex;
  align-items: center;
}

.news__date {
  font-size: var(--font-micro);
  width: 20%;
}

.news__title {
  font-size: var(--font-regular);
  width: 80%;
}
.news__list:hover {
  cursor: pointer;
}

/* Address */
.hr {
  /* color: var(--color-white); */
  /* background: rgba(255, 255, 255, 0.2); */
  width: 100%;
  height: 120px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#address {
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

iframe {
  width: 70%;
}

.address__description {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 30%;
  /* padding: 16px; */
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.address__text {
  font-size: var(--font-small);
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
 */

footer {
  height: 120px;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 60px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer img {
  width: 80px;
}

@media screen and (max-width: 1200px) {
  iframe {
    width: 60%;
  }

  .address__description {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }

  .section__container {
    padding: 16px;
  }

  #navbar {
    padding: 12px;
  }

  /* About */

  #about {
    flex-direction: column-reverse;
  }

  .about__description {
    width: 100%;
    padding: 0;
  }

  .about__image {
    width: 100%;
  }

  /* Menu */

  .menu__all {
    justify-content: center;
  }

  /* News */
  .news__list a {
    flex-direction: column;
    align-items: center;
  }

  /* address */

  iframe {
    width: 50%;
  }

  .address__description {
    width: 50%;
    padding-left: 16px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

/* Scroll */

[data-scroll] {
  opacity: 0;
  transform: translateY(10px) scale(0.98);
  transition: all 1s ease-out;
}
[data-scroll='in'] {
  transform: translateY(0) scale(1);
  opacity: 1;
}
[data-scroll='out'] {
  opacity: 0;
}
